<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/public/index.css">
</head>
<body>
    <div class="insert"> 
    <form action="/insert" method="POST">
        <input type="text" name="book_name" placeholder="Book Name">
        <input type="text" name="author" placeholder="Author">
        <input type="text" name="price" placeholder="Price">
        <button type="submit">Insert</button>
    </form>
    </div>

    <% if(results) { %>
        <% results.forEach(elem => { %>
        <div class="display">
            <h1> <%= elem.book_name %></h1>>
            <h1> <%= elem.author %></h1>>
            <h1> <%= elem.price %></h1>>
        </div> 
        <div>
            <form action="/edit" method="POST">
                <input type="hidden" name="book_name" value= <% elem.book_name %> >
                <input type="hidden" name="author" value= <% elem.author %> >
                <input type="hidden" name="price" value= <% elem.price %> >
                <button type="submit" class="edit">Edit</button>
            </form>
        </div>

        <div>
            <form action="/delete" method="POST">
                <input type="hidden" name="book_name" value= <% elem.book_name %> >
                <input type="hidden" name="author" value= <% elem.author %> >
                <input type="hidden" name="price" value= <% elem.price %> >
                <button type="submit" class="delete">Delete</button>
            </form>
        </div>
        <% }) } %>


</body>
</html>